@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}
title, nav, .logo{
    display: inline-block;   
}
html, body{
    padding: 0;
    margin: 0;
}
body{
    padding-top: 140px;
}
#header{
    text-align: center;
    background: white;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    transition: .6s all ease-in-out;
    padding-top: 15px;
}
#header a{
    color: black;
}
#header .logo img{
    height: 100px !important;
}
#header ul li, #header ul{
    display: inline-block;
}
main{
    width: 80%;
    margin: 0 auto;
}
img{
    max-width: 100%;
    height: auto;
    transition: .6s all ease-in-out;
}
img:hover{
    transform: scale(1.12);
    cursor: pointer;
    box-shadow: 0px 13px 15px 0px rgba(0,0,0,0.75);
}
.d-flex-center{
    display: flex;
    justify-content: center;
}
#footer{
    color: white;
    background: black;
    text-align: center;
    padding: 10px 0;
}
a{
    color: gold;
}
.good{
    color: green;
    font-weight: bold;
}
h1, h2{
    text-transform: uppercase;
    color: #5343d6;    
}
h2::before{
    content: ">>>";
    color: gray;
}
#header.animation-header{
    box-shadow: 0px 13px 15px 0px rgba(0,0,0,0.75);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

section p:first-of-type:first-letter{
    float: left;
    padding-left: 20px;
    color: blue;
}